.jumbotron {
     background-image: url("./images/plant$.jpg");
     background-size: cover;
     font-family: 'Righteous', cursive;
    height: 125vh;
    color: darkslategray;
}
.display-4 {
    font-size: 200px;
}
.btn-warning {
    color: black;
}
.lead{
    font-size: 50px;
}