.navbar {
    position:fixed;
    top:0;
    width: 100%;
}
.navbar-brand {
    float: left;
    margin-left: 20px;
}
#brand {
    font-style: Rightous; font-family: 'Righteous', cursive;
    color: red;
}
.nav-item {
    margin-right: 2em;
}