.navbar {
    background-color: lightgray;
    position:fixed;
    top:0;
    width: 100%;
    height: 75px
    
}
.navbar-brand {
    float: left;
    margin-left: 20px;
}
#brand {
    font-style: Rightous; font-family: 'Righteous', cursive;
    color:black;
}
.nav-item {
    margin-right: 2em;
}
.btn-primary {
    /* color: rgba(35, 15, 209, 0.849);  */
    color: #066940d8; 
    text: white; 
}
.btn {
    color: white; 
}